{% extends "base.html" %}

{% block title %}Рассылки{% endblock %}

{% block content %}
<h1>Рассылки</h1>

<p><a href="{% url 'mailing:mailing_create' %}">Создать рассылку</a></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Сообщение</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for mailing in object_list %}
    <tr>
        <td>{{ mailing.id }}</td>
        <td>
            <a href="{% url 'mailing:mailing_detail' mailing.pk %}">
                {{ mailing.message.subject }}
            </a>
        </td>
        <td>{{ mailing.start_at }}</td>
        <td>{{ mailing.end_at }}</td>
        <td>{{ mailing.get_status_display }}</td>
        <td>
            <a href="{% url 'mailing:mailing_update' mailing.pk %}">Изменить</a> |
            <a href="{% url 'mailing:mailing_delete' mailing.pk %}">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Пока нет рассылок.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
