<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mailer Service{% endblock %}</title>
</head>
<body>

<header>
    <nav>
        <a href="/">Главная</a>

        {% if user.is_authenticated %}
        <a href="{% url 'mailing:recipient_list' %}">Получатели</a>
        <a href="{% url 'mailing:message_list' %}">Сообщения</a>
        <a href="{% url 'mailing:mailing_list' %}">Рассылки</a>
        <a href="{% url 'mailing:attempt_list' %}">Попытки рассылок</a>

        <a href="{% url 'logout' %}">Выход</a>

        {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </nav>
</header>

<hr>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
